{%extends 'indexnav.html'%}

{% block indexnav_body %}
<section id="pricing" class="container">

    <h2 class="text-center mb-5"></h2>


  <main class="main bg-light">
    <section id="pricing" class="pricing bg-white py-5 rounded-3 shadow-sm">
      <div class="container">
        <h2 class="text-center mb-5">Our Plans</h2>
        <div class="row text-center">
          <div class="col-md-4 mb-4">
            <div class="card border-secondary rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title mb-4">Single Person</h3>
                <p class="card-text">
                  <strong class="d-block mb-3 fs-4">₱1000</strong>
                  Bedspace<br>
                  Water<br>
                  Electricity<br>
                  Public Restroom
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-secondary rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title mb-4">3 to 5 Persons</h3>
                <p class="card-text">
                  <strong class="d-block mb-3 fs-4">₱3000</strong>
                  Bedspace<br>
                  Water<br>
                  Electricity<br>
                  Private Comfort Room
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card border-secondary rounded-3 shadow-sm">
              <div class="card-body">
                <h3 class="card-title mb-4">6 to 10 Persons</h3>
                <p class="card-text">
                  <strong class="d-block mb-3 fs-4">₱5000</strong>
                  Bedspace<br>
                  Water<br>
                  Electricity<br>
                  Private Comfort Room <br>
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  </section>

{%endblock%}
